header * {
  /* display: flex; */
}

.Navbar {
  width: 100%;
  /* margin: 0 auto; */
}

nav {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

nav ul {
  margin-left: auto;
  display: flex;
}

nav li {
  list-style-type: none;
}
